

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>WELCOME TO OUR QUIZ SYSTEM DEMO!!!!</h1>
    <h2>Login</h2>
    <form th:action="@{/proxy/8092/login}" th:object="${loginCredentials}" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" required/>
            <p class="error" th:if="${!emailok}">Invalid Email</p>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required/>
            <p class="error" th:if="${!passwordok}">Weak Password</p>
        </div>
        <br>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>




