<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Login Page</title>
    <script src="https://aframe.io/releases/1.4.1/aframe.min.js"></script>
  </head>

  <body>

    <h1>WELCOME TO OUR QUIZ SYSTEM DEMO!!!!</h1>
    <h2>Login</h2>
    <form action="/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <div>
          <a href="/proxy/8089/not_home">
            <button type="button"> Login </button>
          </a>
        </div>
    </form>
  </body>
 
</html> -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>WELCOME TO OUR QUIZ SYSTEM DEMO!!!!</h1>
    <h2>Login</h2>
    <form th:action="@{/proxy/8092/login}" th:object="${loginCredentials}" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" required/>
            <p class="error" th:if="${!emailok}">Invalid Email</p>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required/>
            <p class="error" th:if="${!passwordok}">Weak Password</p>
        </div>
        <br>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>




